# M-Pesa Configuration

# Consumer Key
MPESA_CONSUMER_KEY=<Your_Consumer_Key>

# Consumer Secret
MPESA_CONSUMER_SECRET=<Your_Consumer_Secret>

# Shortcode
MPESA_SHORTCODE=<Your_Shortcode>

# Lipa Na M-Pesa Online Passkey
MPESA_PASSKEY=<Your_Passkey>

# Lipa Na M-Pesa Online Shortcode
MPESA_SHORTCODE_LIPA=<Your_Lipa_Shortcode>

# M-Pesa URL
MPESA_API_URL=https://sandbox.safaricom.co.ke/mpesa/